/* -------- Start Elements Styling -------- */
#start-menu-outline{
  outline: 5px solid yellow;
  background-color: #1E90FF;
  padding: 50px;
}

.start-title{
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 50px;
  color: yellow;
}

.starting-pokemon{
  display: flex;
  align-content: center;
  justify-content: center;
}

.starterPokemon {
  margin: 50px;
  height: 150px;
  width: 150px;
}

.staticPokemon {
  margin: 50px;
  height: 150px;
  width: 150px;
}

.clickedPokemon {
  margin: 50px;
  height: 150px;
  width: 150px;
  border: 3px solid;
  padding: 3px;
}

#parent-start-button{
  display:flex;
  align-items:center;
  justify-content:center
}

.starterPokemon:hover{
  width: 165px;
  height: 165px;
  transition: all 0.5s ease-out;

}

.displayedPokemonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.displayedPokemon {
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
}

/* -------- Start Button -------- */

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #FF0000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #B22222}

.button:active {
  background-color: #B22222;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}